// colors:
$white: #ffffff;
$black: #000000;
$blue: #29d3d1;
$red: #eb645a;
$grey: #edecec;

// fonts:
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$jost: "Jost", sans-serif;
$montserrat: "Montserrat", sans-serif;

$regular: 400;
$medium: 500;
$bold: 600;

$t05: 0.5s ease;

// buttons:
.button {
  text-transform: uppercase;
  font-family: $jost;
  font-weight: $medium;
  color: $white;
  font-size: 18px;
  max-width: 216px;
  width: 100%;
  max-height: 46px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  outline: 2px solid $white;
  outline-offset: -2px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $blue;
    outline: none;
    transition: $t05;
  }
}

.blue-button {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: $blue;
  border: none;
  border-radius: 15px;
  padding: 17px 60px;
  max-width: 277px;
  outline: none;
  max-height: 51px;
  box-shadow: 1px 4px 24px rgba(0, 0, 0, 0.35);

  &:hover {
    background-color: $white;
    outline: 2px solid $blue;
    color: $blue;

    svg path {
      stroke: $blue;
      transition: $t05;
    }
  }
}

span {
  text-transform: uppercase;
  font-family: $montserrat;
  font-size: 14px;
  font-weight: $bold;
  letter-spacing: -0.5px;
}

::selection {
  background-color: $blue;
}

a {
  text-decoration: none;
  cursor: pointer;
}

// @font-face {
//   font-family: 'Jost';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../fonts/font_Jost/static/Jost-Regular.ttf') format('ttf');
// }

// @font-face {
//   font-family: 'Jost';
//   font-style: normal;
//   font-weight: 500;
//   src: url('../fonts/font_Jost/static/Jost-Medium.ttf') format('ttf');
// }

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../fonts/font_Montserrat/static/Montserrat-SemiBold.ttf') format('ttf');
// }

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 600;
//   src: url('../fonts/font_Montserrat/static/Montserrat-Bold.ttf') format('ttf');
// }
