@import "variables.scss";

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: $white;
  font-family: $jost;
  font-weight: $regular;

  main {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      max-height: 810px;
      background-image: url("../../img/images/background.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 100vh;

      &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 22px 155px;
        max-width: 1285px;
        width: 100%;

        &--icons {
          display: flex;
          gap: 10px;
          max-height: 53px;
          max-width: 305px;
          width: 100%;

          a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 53px;
            height: 53px;
            overflow: hidden;
          }
        }
      }

      &__main {
        max-width: 1064px;
        width: 100%;
        margin: 105px 268px 0 268px;
        display: flex;
        justify-content: space-between;

        &-info {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          max-width: 485px;
          width: 100%;
          margin-top: 72px;

          &--sale {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            margin-right: -32px;

            img {
              position: relative;
              z-index: 1;
            }

            span {
              font-family: $montserrat;
              font-size: 16px;
              font-weight: $regular;
              position: absolute;
              z-index: 2;
              text-transform: uppercase;
              padding: 10px 13px;
            }
          }

          h1 {
            font-size: 76px;
            font-family: $montserrat;
            font-weight: $regular;
            margin: 0;
            line-height: 0.5;
            letter-spacing: 0;

            b {
              font-weight: $bold;
            }
          }

          &--download {
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: $montserrat;
            font-weight: $regular;
            font-size: 16px;

            &-icons {
              display: flex;
              gap: 20px;
              align-items: center;

              img {
                cursor: pointer;
              }
            }
          }
        }

        &-iphone {
          height: 608px;

          &:hover {
            filter: drop-shadow(0 0 30px $white);
            transition: $t05;
          }
        }
      }
    }

    .scrool {
      display: flex;
      justify-content: center;
      margin-top: -25px;
    }

    .benefits {
      max-width: 1285px;
      width: 100%;
      margin: 100px auto;

      &__items {
        display: flex;
        gap: 30px;
        align-items: flex-start;
      }

      &__item {
        max-width: 300px;
        width: 100%;
        text-align: center;

        &--subtitle {
          font-family: $montserrat;
          font-size: 24px;
          font-weight: $bold;
          text-transform: uppercase;
          margin: 40px 0 20px 0;

          &:hover {
            color: $blue;
            transition: $t05;
          }
        }

        &--desc {
          font-size: 18px;
          line-height: 20px;
          font-weight: $bold;
        }
      }
    }

    .actions {
      margin: 76px 0 60px 0;
      color: $white;

      &__desc {
        max-height: 430px;
        height: 100vh;
        background-color: $blue;
        position: relative;

        img {
          position: absolute;
          z-index: 2;
          left: 16%;
          top: -17%;
          pointer-events: none;
        }

        &-chapters {
          padding: 60px 10px 30px 10px;
          display: flex;
          gap: 50px;
          position: relative;
          overflow: hidden;

          h3 {
            flex-shrink: 0;
            transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0;
            font-family: $montserrat;
            font-weight: $bold;
            font-size: 32px;
            text-transform: uppercase;
            opacity: 40%;
            cursor: pointer;

            &:hover {
              transition: $t05;
              border-bottom: 4px solid $white;
              opacity: 1;
            }

            &.active {
              padding-bottom: 8px;
              border-bottom: 4px solid $white;
              opacity: 1;
              margin-left: 320px;
            }
          }
        }

        &-info {
          font-size: 24px;
          font-weight: $regular;
          line-height: 30px;
          margin: 0 10px 60px 600px;
          max-width: 735px;
          transition: opacity 0.3s ease;
        }
      }
    }

    .events {
      margin: 255px 0 68px 0;
      position: relative;

      img {
        position: absolute;
        z-index: 2;
        top: -70%;
        right: 10%;
        pointer-events: none;
      }

      &__desc {
        background-color: $grey;
        padding: 68px 0 110px 285px;

        h2 {
          text-transform: uppercase;
          line-height: 30px;
          max-width: 253px;
          font-size: 32px;
          font-family: $montserrat;

          &:hover {
            color: $red;
            transition: $t05;
          }
        }

        p {
          max-width: 600px;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }

    .parthers {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;

      h2 {
        font-size: 32px;
        font-family: $montserrat;
        font-weight: 700;
        color: $red;
        text-transform: uppercase;
        margin-bottom: 35px;
        margin-top: 0;
      }

      &__icons {
        background-color: $red;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 50px 0;
        margin-bottom: 50px;
        position: relative;

        &--button {
          background: none;
          border: none;
          cursor: pointer;
          display: none;
          position: absolute;
          top: 40%;
          z-index: 3;

          &:not(.right) {
            left: 10px;
          }

          &.right {
            right: 10px;
          }

          svg circle:hover {
            fill: $white;
            transition: $t05;
          }
        }

        &--main {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 44px;
          // overflow-x: auto;
          // scroll-behavior: smooth;
          // scrollbar-width: none;
          // -ms-overflow-style: none;

          // &::-webkit-scrollbar {
          //   display: none;
          // }

          img {
            cursor: pointer;
            // flex-shrink: 0;
            // transition: opacity 0.3s ease, visibility 0.3s ease;

            &:hover {
              transition: $t05;
              filter: brightness(2);
            }
          }

          #adidas {
            opacity: 20%;

            &:hover {
              opacity: 100%;
              transition: $t05;
            }
          }
        }
      }

      &--info {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-top: 0;

        &.first {
          margin-bottom: 0;
        }

        &.last {
          margin-bottom: 30px;
        }
      }

      .blue-button {
        box-shadow: none;
        max-width: 336px;
        max-height: 60px;
        padding: 20px 70px;
        justify-content: center;
      }
    }
  }

  footer {
    text-transform: uppercase;
    color: $white;
    max-height: 134px;
    background-image: url("../../img/images/background.png");
    background-repeat: no-repeat;
    background-position: center bottom -165px;
    background-size: cover;
    height: 100vh;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: $regular;
    letter-spacing: -0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 160px;
    max-width: 1280px;

    .footer {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &__links {
        display: flex;
        gap: 40px;

        &--link {
          font-size: 13px;
          color: #b5b5b5;
          text-decoration: underline;

          &:hover {
            color: $white;
            transition: $t05;
          }
        }
      }
    }

    .button {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      max-width: 234px;
      width: 100%;
      padding: 10px 15px;
      max-height: 40px;
      font-family: $montserrat;
      font-size: 16px;
      font-weight: $regular;
      letter-spacing: -0.5px;
      background: none;
    }
  }
}

@import "mixins.scss";
