@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.button {
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  max-width: 216px;
  width: 100%;
  max-height: 46px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  cursor: pointer;
  border: none;
}
.button:hover {
  background-color: #29d3d1;
  outline: none;
  transition: 0.5s ease;
}

.blue-button {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: #29d3d1;
  border: none;
  border-radius: 15px;
  padding: 17px 60px;
  max-width: 277px;
  outline: none;
  max-height: 51px;
  box-shadow: 1px 4px 24px rgba(0, 0, 0, 0.35);
}
.blue-button:hover {
  background-color: #ffffff;
  outline: 2px solid #29d3d1;
  color: #29d3d1;
}
.blue-button:hover svg path {
  stroke: #29d3d1;
  transition: 0.5s ease;
}

span {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

::selection {
  background-color: #29d3d1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}
body main {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
body main .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  max-height: 810px;
  background-image: url("../../img/images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
body main .header__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 155px;
  max-width: 1285px;
  width: 100%;
}
body main .header__social--icons {
  display: flex;
  gap: 10px;
  max-height: 53px;
  max-width: 305px;
  width: 100%;
}
body main .header__social--icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  overflow: hidden;
}
body main .header__main {
  max-width: 1064px;
  width: 100%;
  margin: 105px 268px 0 268px;
  display: flex;
  justify-content: space-between;
}
body main .header__main-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 485px;
  width: 100%;
  margin-top: 72px;
}
body main .header__main-info--sale {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: -32px;
}
body main .header__main-info--sale img {
  position: relative;
  z-index: 1;
}
body main .header__main-info--sale span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
  padding: 10px 13px;
}
body main .header__main-info h1 {
  font-size: 76px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  line-height: 0.5;
  letter-spacing: 0;
}
body main .header__main-info h1 b {
  font-weight: 600;
}
body main .header__main-info--download {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
body main .header__main-info--download-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
body main .header__main-info--download-icons img {
  cursor: pointer;
}
body main .header__main-iphone {
  height: 608px;
}
body main .header__main-iphone:hover {
  filter: drop-shadow(0 0 30px #ffffff);
  transition: 0.5s ease;
}
body main .scrool {
  display: flex;
  justify-content: center;
  margin-top: -25px;
}
body main .benefits {
  max-width: 1285px;
  width: 100%;
  margin: 100px auto;
}
body main .benefits__items {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
body main .benefits__item {
  max-width: 300px;
  width: 100%;
  text-align: center;
}
body main .benefits__item--subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 40px 0 20px 0;
}
body main .benefits__item--subtitle:hover {
  color: #29d3d1;
  transition: 0.5s ease;
}
body main .benefits__item--desc {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}
body main .actions {
  margin: 76px 0 60px 0;
  color: #ffffff;
}
body main .actions__desc {
  max-height: 430px;
  height: 100vh;
  background-color: #29d3d1;
  position: relative;
}
body main .actions__desc img {
  position: absolute;
  z-index: 2;
  left: 16%;
  top: -17%;
  pointer-events: none;
}
body main .actions__desc-chapters {
  padding: 60px 10px 30px 10px;
  display: flex;
  gap: 50px;
  position: relative;
  overflow: hidden;
}
body main .actions__desc-chapters h3 {
  flex-shrink: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  opacity: 40%;
  cursor: pointer;
}
body main .actions__desc-chapters h3:hover {
  transition: 0.5s ease;
  border-bottom: 4px solid #ffffff;
  opacity: 1;
}
body main .actions__desc-chapters h3.active {
  padding-bottom: 8px;
  border-bottom: 4px solid #ffffff;
  opacity: 1;
  margin-left: 320px;
}
body main .actions__desc-info {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 10px 60px 600px;
  max-width: 735px;
  transition: opacity 0.3s ease;
}
body main .events {
  margin: 255px 0 68px 0;
  position: relative;
}
body main .events img {
  position: absolute;
  z-index: 2;
  top: -70%;
  right: 10%;
  pointer-events: none;
}
body main .events__desc {
  background-color: #edecec;
  padding: 68px 0 110px 285px;
}
body main .events__desc h2 {
  text-transform: uppercase;
  line-height: 30px;
  max-width: 253px;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}
body main .events__desc h2:hover {
  color: #eb645a;
  transition: 0.5s ease;
}
body main .events__desc p {
  max-width: 600px;
  font-size: 24px;
  line-height: 30px;
}
body main .parthers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
body main .parthers h2 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #eb645a;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 0;
}
body main .parthers__icons {
  background-color: #eb645a;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
  margin-bottom: 50px;
  position: relative;
}
body main .parthers__icons--button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 40%;
  z-index: 3;
}
body main .parthers__icons--button:not(.right) {
  left: 10px;
}
body main .parthers__icons--button.right {
  right: 10px;
}
body main .parthers__icons--button svg circle:hover {
  fill: #ffffff;
  transition: 0.5s ease;
}
body main .parthers__icons--main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
body main .parthers__icons--main img {
  cursor: pointer;
}
body main .parthers__icons--main img:hover {
  transition: 0.5s ease;
  filter: brightness(2);
}
body main .parthers__icons--main #adidas {
  opacity: 20%;
}
body main .parthers__icons--main #adidas:hover {
  opacity: 100%;
  transition: 0.5s ease;
}
body main .parthers--info {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-top: 0;
}
body main .parthers--info.first {
  margin-bottom: 0;
}
body main .parthers--info.last {
  margin-bottom: 30px;
}
body main .parthers .blue-button {
  box-shadow: none;
  max-width: 336px;
  max-height: 60px;
  padding: 20px 70px;
  justify-content: center;
}
body footer {
  text-transform: uppercase;
  color: #ffffff;
  max-height: 134px;
  background-image: url("../../img/images/background.png");
  background-repeat: no-repeat;
  background-position: center bottom -165px;
  background-size: cover;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 160px;
  max-width: 1280px;
}
body footer .footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body footer .footer__links {
  display: flex;
  gap: 40px;
}
body footer .footer__links--link {
  font-size: 13px;
  color: #b5b5b5;
  text-decoration: underline;
}
body footer .footer__links--link:hover {
  color: #ffffff;
  transition: 0.5s ease;
}
body footer .button {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  max-width: 234px;
  width: 100%;
  padding: 10px 15px;
  max-height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  background: none;
}

@media (max-width: 390px) {
  body main {
    max-width: 390px;
    align-items: center;
  }
  body main .header {
    height: 101vh;
  }
  body main .header__social {
    display: none;
  }
  body main .header__main {
    max-width: 390px;
    margin: 190px auto 205px auto;
  }
  body main .header__main-info {
    gap: 30px;
    margin: 0;
  }
  body main .header__main-info--sale {
    margin-right: 0;
    margin-bottom: -30px;
  }
  body main .header__main-info h1 {
    font-size: 55px;
    z-index: 2;
  }
  body main .header__main-info--download-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
  body main .header__main-iphone {
    display: none;
  }
  body main .benefits {
    max-width: 300px;
    margin: 55px auto 0 auto;
  }
  body main .benefits__items {
    flex-wrap: wrap;
    flex-direction: column;
  }
  body main .benefits__item--desc {
    font-size: 19.5px;
    line-height: 25px;
  }
  body main .actions {
    display: none;
  }
  body main .events {
    max-width: 350px;
    width: 100%;
    text-align: center;
    margin: 80px 0;
  }
  body main .events img {
    display: none;
  }
  body main .events__desc {
    background: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .events__desc h2 {
    margin: 0 0 30px 0;
  }
  body main .events__desc p {
    line-height: 36px;
    margin: 0;
  }
  body main .parthers {
    margin-bottom: 40px;
  }
  body main .parthers h2 {
    margin-bottom: 60px;
  }
  body main .parthers__icons {
    margin-bottom: 40px;
    position: relative;
    width: 105%;
  }
  body main .parthers__icons--button {
    display: block !important;
  }
  body main .parthers__icons--main {
    justify-content: flex-start !important;
  }
  body main .parthers__icons--main #prada,
  body main .parthers__icons--main #nike,
  body main .parthers__icons--main #zara,
  body main .parthers__icons--main #pazolini {
    display: none;
  }
  body main .parthers--info {
    max-width: 310px;
  }
  body main .parthers--info.first {
    margin-bottom: 10px;
  }
  body main .parthers--info.last {
    margin-bottom: 40px;
  }
  body footer {
    max-height: 183px;
    padding: 40px 68px;
    max-width: 390px;
    background-position: center center;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 40px;
  }
  body footer .footer {
    align-items: center;
    gap: 30px;
  }
  body footer .footer__links {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}/*# sourceMappingURL=styles.css.map */